html,body{
	height: 100%;
	width: 100%;
	margin: 0%;
}
.bgimage {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right,#df4085,#fb2c2c);
}
img{
	position: absolute;
	z-index: -1;
}


.formcontaint {
	height: 595px;
	width: 800px;
	background-color: white;
	margin: auto;
	position: relative;
	top: 15px;
	border-radius: 20px;
	
}

h1 {
	font-size: 50px;
	margin: 0;
	padding-top: 30px;
	text-align: center;
	font-family: arial;
}

.form {
	height: 450px;
	width: 700px;

	margin: auto;
	padding-top: 30px;
}

.text {
	width: 100px;
}

label {
	color: lightgray;
	font-family: arial;
	font-size: 12px;
}
input[type=submit]{
	background-image: linear-gradient(to right,#df4085,#fb2c2c);
	height: 50px;
	width: 250px;
	color: white;
	font-size: 15px;
}